@using Core.DataAccess.Paging
@using Entities.Concrete
@model IPaginate<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bordered Table</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-success mb-2" asp-controller="Category" asp-action="Add">Add</a>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="width: 40px">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                              @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            <div class="text-center">
                                               @item.Description
                                            </div>
                                        </td>
                                        <td><a class="btn badge bg-danger" href="/Category/Delete/@item.Id">Delete</a>
                                            <a class="btn badge bg-warning mt-2" href="/Category/Update/@item.Id">Update</a</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (Model.Pagination.HasPreviousPage)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(ViewBag.index-1)">«</a></li>
                            }
                       @for (int i = 0; i < Model.Pagination.TotalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(i+1)">@(i + 1)</a></li>
                        }


                            @if (Model.Pagination.HasNextPage)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(ViewBag.index+1)">»</a></li>
                            }
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>

