@using Entities.Concrete
@using WebUI.Paging
@model IPaginate<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentPage = ViewBag.index;
}

<section class="content">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bordered Table</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Task</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Label</th>
                                </tr>
                            </thead>
                            <tbody>
                              @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (Model.Pagination.HasPreviousPage)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(ViewBag.index-1)">«</a></li>
                            }
                       @for (int i = 0; i < Model.Pagination.TotalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(i+1)">@(i + 1)</a></li>
                        }


                            @if (Model.Pagination.HasNextPage)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@(ViewBag.index+1)">»</a></li>
                            }
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>

@section Scripts{
   <script>
       function getCategories() {
           $.ajax({
               type:"GET",
               url:"/Products/GetCategories",
               data: {},
               success: function (data) {

               },
               error: function (err) {

               }

           })
       }
   </script>
}